#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
nav > ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

#section1,
#section2,
#section3,
#section4 {
  padding: 10px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  color: black;
}
#section1 {
  background-color: beige;
}
#section2 {
  background-color: lightblue;
}
#section3 {
  background-color: lightgray;
}
#section4 {
  background-color: rgb(234, 192, 198);
}
